@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: gray;
}

header {
    text-align: center;
    padding: 10px;
    color: white;
}

div#conteudo {
    background-color: gray;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 1px 1px 5px #00000061
}

div#conteudo > div#txt {
    text-align: center;
    padding: 15px;
    font-size: 1.3em;
    color: white;
}

div#conteudo > div#img {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#conteudo > div#img > img#imagem {
    border-radius: 50%;
    border: 3px solid darkgray;
    box-shadow: 1px 1px 5px #00000061;
    max-width: 100%;
    height: auto;
}

footer a {
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}
